
<h1>Hello</h1>

<table border="1">
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.description %></td>
      <td><%= product.image %></td>
      <td><%= product.price %></td>
      <td><%= link_to "Uredi", edit_admin_product_url(product.id) %></td>
      <td><%= link_to "Zbriši", admin_product_path(product.id), :confirm => "Ali ste prepričani?", :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to "Dodaj Produkt", new_admin_product_url %>
